/* MARK: Custom properties */
:root {
    /* Colors */
    --color-rubiks-front: cyan;
    --color-rubiks-back: limegreen;
    --color-rubiks-top: white;
    --color-rubiks-bottom: yellow;
    --color-rubiks-left: red;
    --color-rubiks-right: orange;

    /* Animation */
    --animation-duration: 1s;
    --animation-easing: ease-out;

    /* Sizing */
    --size-full-cube: 20rem;
    --size-one-cube: calc(var(--size-full-cube) / 3);

    /* Translate cubes mesurements */
    --translate-one-side: calc(var(--size-one-cube) / 2);
    --translate-one-cube: calc(var(--size-one-cube) / 2);


    /* Translate positions */
    /* Source: Nienke */
    --translate-one-cube-left: calc(var(--translate-one-cube)* -1);
    --translate-one-cube-right: var(--translate-one-cube);
    --translate-one-cube-up: calc(var(--translate-one-cube) * -1);
    --translate-one-cube-down: var(--translate-one-cube);
    --translate-one-cube-front: var(--translate-one-cube);
    --translate-one-cube-back: calc(var(--translate-one-cube) * -1);


    /* Declare colors */
    /* !!! remove unnessecary sides  */
    /* Explanation abbreviations
        Format: [cube]-[side]-[color] 
        Afkortingen:
            Cube:   
                    ftl = front top left
                    babor = back bottom right
            Side:   
                    Sf = side front
                    Sba = side back
            Color: 
                    C = color default
                    C1 = color rotation 1 
            */

    /* ===========================
             MARK: Front
   =========================== */
    /* MARK: Left */
    /* front top left cube side color definitions */
    /* side = front */
    --ftl-Sf-C: var(--color-rubiks-front);

    /* side = back */
    --ftl-Sba-C: var(--color-rubiks-back);

    /* side = top */
    --ftl-St-C: var(--color-rubiks-top);

    /* side = bottom */
    --ftl-Sbo-C: var(--color-rubiks-bottom);

    /* side = left */
    --ftl-Sl-C: var(--color-rubiks-left);

    /* side = right */
    --ftl-Sr-C: var(--color-rubiks-right);

    /* front bottom left cube side color definitions */
    /* side = front */
    --fbol-Sf-C: var(--color-rubiks-front);

    /* side = back */
    --fbol-Sba-C: var(--color-rubiks-back);

    /* side = top */
    --fbol-St-C: var(--color-rubiks-top);

    /* side = bottom */
    --fbol-Sbo-C: var(--color-rubiks-bottom);

    /* side = left */
    --fbol-Sl-C: var(--color-rubiks-left);

    /* side = right */
    --fbol-Sr-C: var(--color-rubiks-right);


    /* MARK: Right */
    /* front top right cube side color definitions */
    /* side = front */
    --ftr-Sf-C: var(--color-rubiks-front);

    /* side = back */
    --ftr-Sba-C: var(--color-rubiks-back);

    /* side = top */
    --ftr-St-C: var(--color-rubiks-top);

    /* side = bottom */
    --ftr-Sbo-C: var(--color-rubiks-bottom);

    /* side = left */
    --ftr-Sl-C: var(--color-rubiks-left);

    /* side = right */
    --ftr-Sr-C: var(--color-rubiks-right);

    /*front bottom right cube side color definitions */
    /* side = front */
    --fbor-Sf-C: var(--color-rubiks-front);

    /* side = back */
    --fbor-Sba-C: var(--color-rubiks-back);

    /* side = top */
    --fbor-St-C: var(--color-rubiks-top);

    /* side = bottom */
    --fbor-Sbo-C: var(--color-rubiks-bottom);

    /* side = left */
    --fbor-Sl-C: var(--color-rubiks-left);

    /* side = right */
    --fbor-Sr-C: var(--color-rubiks-right);


    /* ===========================
             MARK: Back
   =========================== */
    /* MARK: Left */
    /* back top left cube side color definitions */
    /* side = front */
    --batl-Sf-C: var(--color-rubiks-front);

    /* side = back */
    --batl-Sba-C: var(--color-rubiks-back);

    /* side = top */
    --batl-St-C: var(--color-rubiks-top);

    /* side = bottom */
    --batl-Sbo-C: var(--color-rubiks-bottom);

    /* side = left */
    --batl-Sl-C: var(--color-rubiks-left);

    /* side = right */
    --batl-Sr-C: var(--color-rubiks-right);

    /* back bottom left cube side color definitions */
    /* side = front */
    --babol-Sf-C: var(--color-rubiks-front);

    /* side = back */
    --babol-Sba-C: var(--color-rubiks-back);

    /* side = top */
    --babol-St-C: var(--color-rubiks-top);

    /* side = bottom */
    --babol-Sbo-C: var(--color-rubiks-bottom);

    /* side = left */
    --babol-Sl-C: var(--color-rubiks-left);

    /* side = right */
    --babol-Sr-C: var(--color-rubiks-right);


    /* MARK: Right */
    /* back top right cube side color definitions */
    /* side = front */
    --batr-Sf-C: var(--color-rubiks-front);

    /* side = back */
    --batr-Sba-C: var(--color-rubiks-back);

    /* side = top */
    --batr-St-C: var(--color-rubiks-top);

    /* side = bottom */
    --batr-Sbo-C: var(--color-rubiks-bottom);

    /* side = left */
    --batr-Sl-C: var(--color-rubiks-left);

    /* side = right */
    --batr-Sr-C: var(--color-rubiks-right);

    /* back bottom right cube side color definitions */
    /* side = front */
    --babor-Sf-C: var(--color-rubiks-front);

    /* side = back */
    --babor-Sba-C: var(--color-rubiks-back);

    /* side = top */
    --babor-St-C: var(--color-rubiks-top);

    /* side = bottom */
    --babor-Sbo-C: var(--color-rubiks-bottom);

    /* side = left */
    --babor-Sl-Cf: var(--color-rubiks-left);

    /* side = right */
    --babor-Sr-C: var(--color-rubiks-right);

}

/* MARK: scene */
main {
    perspective: 30rem;
}

main rubiks {
    transform-style: preserve-3d;

    display: grid;
    justify-self: center;
    align-self: center;

    padding: 5rem;

    /* Source Nienke */
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/transform-function/rotate3d */
    transform: rotate3d(5, 10, 0, -30deg);
}

/* MARK: style */

/* html:has([value="standaard"]:checked) {
    --standaard: true;
}

html:has([value="pastel"]:checked) {
    --pastel: true;
}


@container style(--pastel:true) {
    body {
        --color-rubiks-front: rgb(165, 236, 236);
        --color-rubiks-back: rgb(146, 231, 146);
        --color-rubiks-top: rgb(245, 229, 243);
        --color-rubiks-bottom: rgb(237, 237, 172);
        --color-rubiks-left: rgb(236, 188, 188);
        --color-rubiks-right: rgb(230, 202, 150);
    }
} */



/* MARK: cubes */

/* front top left */
cube:nth-of-type(1) {
    --translate-x: var(--translate-one-cube-left);
    --translate-y: var(--translate-one-cube-up);
    --translate-z: var(--translate-one-cube-front);
    --rotate-x: 0deg;
    --rotate-y: 0deg;
    --rotate-z: 0deg;
}

/* front top right */
cube:nth-of-type(2) {
    --translate-x: var(--translate-one-cube-right);
    --translate-y: var(--translate-one-cube-up);
    --translate-z: var(--translate-one-cube-front);
    --rotate-x: 0deg;
    --rotate-y: 0deg;
    --rotate-z: 0deg;
}

/* front bottom left */
cube:nth-of-type(3) {
    --translate-x: var(--translate-one-cube-left);
    --translate-y: var(--translate-one-cube-down);
    --translate-z: var(--translate-one-cube-front);
    --rotate-x: 0deg;
    --rotate-y: 0deg;
    --rotate-z: 0deg;
}

/* front bottom right */
cube:nth-of-type(4) {
    --translate-x: var(--translate-one-cube-right);
    --translate-y: var(--translate-one-cube-down);
    --translate-z: var(--translate-one-cube-front);
    --rotate-x: 0deg;
    --rotate-y: 0deg;
    --rotate-z: 0deg;
}

/* back top left */
cube:nth-of-type(5) {
    --translate-x: var(--translate-one-cube-left);
    --translate-y: var(--translate-one-cube-up);
    --translate-z: var(--translate-one-cube-back);
    --rotate-x: 0deg;
    --rotate-y: 0deg;
    --rotate-z: 0deg;
}

/* back top right */
cube:nth-of-type(6) {
    --translate-x: var(--translate-one-cube-right);
    --translate-y: var(--translate-one-cube-up);
    --translate-z: var(--translate-one-cube-back);
    --rotate-x: 0deg;
    --rotate-y: 0deg;
    --rotate-z: 0deg;
}

/* back bottom left */
cube:nth-of-type(7) {
    --translate-x: var(--translate-one-cube-left);
    --translate-y: var(--translate-one-cube-down);
    --translate-z: var(--translate-one-cube-back);
    --rotate-x: 0deg;
    --rotate-y: 0deg;
    --rotate-z: 0deg;
}

/* back bottom right */
cube:nth-of-type(8) {
    --translate-x: var(--translate-one-cube-right);
    --translate-y: var(--translate-one-cube-down);
    --translate-z: var(--translate-one-cube-back);
    --rotate-x: 0deg;
    --rotate-y: 0deg;
    --rotate-z: 0deg;
}


/* MARK: placing cubes */
cube {
    transform-style: preserve-3d;
    display: grid;
    grid-area: 1/1;

    transform: rotateX(var(--rotate-x)) rotateY(var(--rotate-y)) rotateZ(var(--rotate-z)) translateX(var(--translate-x)) translateY(var(--translate-y)) translateZ(var(--translate-z));
}

/* MARK: sides */
cube>* {
    width: var(--size-one-cube);
    aspect-ratio: 1;
    display: block;
    grid-area: 1/1;
}

front {
    background: var(--color-rubiks-front);
    transform: translateZ(var(--translate-one-side));
}

back {
    background: var(--color-rubiks-back);
    transform: translateZ(calc(var(--translate-one-side) * -1));
}

top {
    background: var(--color-rubiks-top);
    transform: rotateX(90deg) translateZ(var(--translate-one-side));
}

bottom {
    background: var(--color-rubiks-bottom);
    transform: rotateX(90deg) translateZ(calc(var(--translate-one-side) * -1));
}


left {
    background: var(--color-rubiks-left);
    transform: rotateY(90deg) translateZ(calc(var(--translate-one-side) * -1));
}

right {
    background: var(--color-rubiks-right);
    transform: rotateY(90deg) translateZ(var(--translate-one-side));
}

/* MARK: Hover animation */
rubiks:hover {
    animation: --rotate 10s infinite linear;

}

@keyframes --rotate {
    0% {
        transform:
            rotateX(0deg) rotateY(0deg);
    }

    100% {
        transform:
            rotateX(-360deg) rotateY(-2turn);
    }
}

/* MARK: turn animations */
@property --rotate-x {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

@property --rotate-y {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

@property --rotate-z {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

@keyframes --turn-right {
    0% {
        --rotate-x: 0deg;
    }

    100% {
        --rotate-x: 90deg;
    }
}

@keyframes --turn-left {
    0% {
        --rotate-x: 0deg;
    }

    100% {
        --rotate-x: -90deg;
    }
}

@keyframes --turn-top {
    0% {
        --rotate-y: 0deg;
    }

    100% {
        --rotate-y: -90deg;
    }
}

@keyframes --turn-bottom {
    0% {
        --rotate-y: 0deg;
    }

    100% {
        --rotate-y: 90deg;
    }
}

@keyframes --turn-front {
    0% {
        --rotate-z: 0deg;
    }

    100% {
        --rotate-z: 90deg;
    }
}




/* MARK: LOGIC */

/* Buttons */
#turn2 {
    display: none;
}

/* Turn 1 */
html:has([value="1turnRightClockwise"]:checked) {
    --rightTurnClockWise: true;
    --turn1: true;
}

html:has([value="1turnRightCounterwise"]:checked) {
    --rightTurnClockCounter: true;
    --turn1: true;
}

html:has([value="1turnFrontClockwise"]:checked) {
    --frontTurnClockWise: true;
    --turn1: true;
}

html:has([value="1turnFrontCounterwise"]:checked) {
    --frontTurnClockCounter: true;
    --turn1: true;
}

html:has([value="1turnLeftClockwise"]:checked) {
    --leftTurnClockWise: true;
    --turn1: true;
}

html:has([value="1turnLeftCounterwise"]:checked) {
    --leftTurnClockCounter: true;
    --turn1: true;
}

html:has([value="1turnTopClockwise"]:checked) {
    --topTurnClockWise: true;
    --turn1: true;
}

html:has([value="1turnTopCounterwise"]:checked) {
    --topTurnClockCounter: true;
    --turn1: true;
}

html:has([value="1turnBottomClockwise"]:checked) {
    --bottomTurnClockWise: true;
    --turn1: true;
}

html:has([value="1turnBottomClockwise"]:checked) {
    --bottomTurnClockCounter: true;
    --turn1: true;
}

/* ---------------- */
/* MARK: turn 2 */
html:has([value="2turnRightClockwise"]:checked) {
    --rightTurnClockWise2: true;
    --turn2: true;
}

html:has([value="2turnRightCounterwise"]:checked) {
    --rightTurnClockCounter2: true;
    --turn2: true;
}

html:has([value="2turnFrontClockwise"]:checked) {
    --frontTurnClockWise2: true;
    --turn2: true;
}

html:has([value="2turnFrontCounterwise"]:checked) {
    --frontTurnClockCounter2: true;
    --turn2: true;
}

html:has([value="2turnLeftClockwise"]:checked) {
    --leftTurnClockWise2: true;
    --turn2: true;
}

html:has([value="2turnLeftCounterwise"]:checked) {
    --leftTurnClockCounter2: true;
    --turn2: true;
}

html:has([value="2turnTopClockwise"]:checked) {
    --topTurnClockWise2: true;
    --turn2: true;
}

html:has([value="2turnTopCounterwise"]:checked) {
    --topTurnClockCounter2: true;
    --turn2: true;
}

html:has([value="2turnBottomClockwise"]:checked) {
    --bottomTurnClockWise2: true;
    --turn2: true;
}

html:has([value="2turnBottomClockwise"]:checked) {
    --bottomTurnClockCounter2: true;
    --turn2: true;
}


/* MARK: Color-changing */

/* MARK: turn 1 */
/* Update variables */
saving-layer1 {

     /* Update all variables  */
    --ftl-Sf-C2: var(--ftl-Sf-C);
    --ftl-St-C2: var(--ftl-St-C);
    --ftl-Sl-C2: var(--ftl-Sl-C);

    --ftr-Sf-C2: var(--ftr-Sf-C);
    --ftr-St-C2: var(--ftr-St-C);
    --ftr-Sr-C2: var(--ftr-Sr-C);

    --fbol-Sf-C2: var(--fbol-Sf-C);
    --fbol-Sbo-C2: var(--fbol-Sbo-C);
    --fbol-Sl-C2: var(--fbol-Sl-C);

    --fbor-Sf-C2: var(--fbor-Sf-C);
    --fbor-Sbo-C2: var(--fbor-Sbo-C);
    --fbor-Sr-C2: var(--fbor-Sr-C);

    --batl-Sba-C2: var(--batl-Sba-C);
    --batl-St-C2: var(--batl-St-C);
    --batl-Sl-C2: var(--batl-Sl-C);

    --batr-Sba-C2: var(--batr-Sba-C);
    --batr-St-C2: var(--batr-St-C);
    --batr-Sr-C2: var(--batr-Sr-C);

    --babol-Sba-C2: var(--babol-Sba-C);
    --babol-Sbo-C2: var(--babol-Sbo-C);
    --babol-Sl-C2: var(--babol-Sl-C);

    --babor-Sba-C2: var(--babor-Sba-C);
    --babor-Sbo-C2: var(--babor-Sbo-C);
    --babor-Sr-C2: var(--babor-Sr-C);

    /* rechts met de klok mee */
    @container style(--rightTurnClockWise: true) {

        /* Front top right block */
        --ftr-Sf-C2: var(--fbor-Sbo-C);
        --ftr-St-C2: var(--fbor-Sf-C);
        --ftr-Sr-C2: var(--fbor-Sr-C);

        /* Front bottom right block */
        --fbor-Sf-C2: var(--babor-Sbo-C);
        --fbor-Sbo-C2: var(--babor-Sba-C);
        --fbor-Sr-C2: var(--babor-Sr-C);

        /* Back top right block */
        --batr-Sba-C2: var(--ftr-St-C);
        --batr-St-C2: var(--ftr-Sf-C);
        --batr-Sr-C2: var(--ftr-Sr-C);

        /* Back bottom right block */
        --babor-Sba-C2: var(--batr-St-C);
        --babor-Sbo-C2: var(--batr-Sba-C);
        --babor-Sr-C2: var(--batr-Sr-C);
    }

    /* rechts tegen de klok in */
    @container style(--rightTurnClockCounter: true) {

        /* Front top right block */
        --ftr-Sf-C: var(--batr-St-C);
        --ftr-St-C: var(--batr-Sba-C);
        --ftr-Sr-C: var(--batr-Sr-C);

        /* Front bottom right block */
        --fbor-Sf-C: var(--ftr-St-C);
        --fbor-Sbo-C: var(--ftr-Sf-C);
        --fbor-Sr-C: var(--ftr-Sr-C);

        /* Back top right block */
        --batr-Sba-C: var(--babor-Sbo-C);
        --batr-St-C: var(--babor-Sba-C);
        --batr-Sr-C: var(--babor-Sr-C);

        /* Back bottom right block */
        --babor-Sba-C: var(--fbor-Sbo-C);
        --babor-Sbo-C: var(--fbor-Sf-C);
        --babor-Sr-C: var(--fbor-Sr-C);

    }

    /* MARK: links tegen de klok in */
    @container style(--turnLeft: true) {

        /* Front top right block */
        --ltr-Sf-C: var(--fbol-Sbo-C);
        --ftl-St-C: var(--fbol-Sf-C);
        --ftl-Sl-C: var(--fbol-Sl-C);

        /* Front bottom right block */
        --fbol-Sf-C: var(--babol-Sbo-C);
        --fbol-Sbo-C: var(--babol-Sba-C);
        --fbol-Sl-C: var(--babol-Sl-C);

        /* Back top right block */
        --batl-Sba-C: var(--ftl-St-C);
        --batl-St-C: var(--ftl-Sf-C);
        --batl-Sl-C: var(--ftl-Sl-C);

        /* Back bottom right block */
        --babol-Sba-C: var(--batl-St-C);
        --babol-Sbo-C: var(--batl-Sba-C);
        --babol-Sl-C: var(--batl-Sl-C);
    }

    /* MARK: links met de klok mee */
    @container style(--leftTurnClockWise: true) {

        /* Front top right block */
        --ftl-Sf-C2: var(--batl-St-C);
        --ftl-St-C2: var(--batl-Sba-C);
        --ftl-Sl-C2: var(--batl-Sl-C);

        /* Front bottom right block */
        --fbol-Sf-C2: var(--ftl-St-C);
        --fbol-Sbo-C2: var(--ftl-Sf-C);
        --fbol-Sl-C2: var(--ftl-Sl-C);

        /* Back top right block */
        --batl-Sba-C2: var(--babol-Sbo-C);
        --batl-St-C2: var(--babol-Sba-C);
        --batl-Sl-C2: var(--babol-Sl-C);

        /* Back bottom right block */
        --babol-Sba-C2: var(--fbol-Sbo-C);
        --babol-Sbo-C2: var(--fbol-Sf-C);
        --babol-Sl-C2: var(--fbol-Sl-C);
    }

    /* MARK: front met de klok mee */
    @container style(--frontTurnClockWise: true) {

        /* Front top right block */
        --ftr-Sf-C2: var(--ftl-Sf-C);
        --ftr-St-C2: var(--ftl-Sl-C);
        --ftr-Sr-C2: var(--ftl-St-C);

        /* Front bottom right block */
        --fbor-Sf-C2: var(--ftr-Sf-C);
        --fbor-Sbo-C2: var(--ftr-Sr-C);
        --fbor-Sr-C2: var(--ftr-St-C);

        /* Front top left block */
        --ftl-Sf-C2: var(--fbol-Sf-C);
        --ftl-St-C2: var(--fbol-Sl-C);
        --ftl-Sl-C2: var(--fbol-Sbo-C);

        /* Front bottom left block */
        --fbol-Sf-C2: var(--fbor-Sf-C);
        --fbol-Sbo-C2: var(--fbor-Sr-C);
        --fbol-Sl-C2: var(--fbor-Sbo-C);
    }

    /* MARK: Top met de klok mee */
    @container style(--topTurnClockWise: true) {

        /* Front top right block */
        --ftr-Sf-C2: var(--batr-Sr-C);
        --ftr-St-C2: var(--batr-St-C);
        --ftr-Sr-C2: var(--batr-Sba-C);

        /* Back top right block */
        --batr-Sba-C2: var(--batl-Sl-C);
        --batr-St-C2: var(--batl-St-C);
        --batr-Sr-C2: var(--batl-Sba-C);

        /* Front top left block */
        --ftl-Sf-C2: var(--ftr-Sr-C);
        --ftl-St-C2: var(--ftr-St-C);
        --ftl-Sl-C2: var(--ftr-Sf-C);

        /* back top left block */
        --batl-Sba-C2: var(--ftl-Sl-C);
        --batl-St-C2: var(--ftl-St-C);
        --batl-Sl-C2: var(--ftl-Sf-C);
    }

    /* MARK: Bottom met de klok mee */
    @container style(--bottomTurnClockWise: true) {

        /* Front bottom right block */
        --fbor-Sf-C2: var(--fbol-Sl-C);
        --fbor-Sbo-C2: var(--fbol-Sbo-C);
        --fbor-Sr-C2: var(--fbol-Sf-C);

        /* Back bottom right block */
        --babor-Sba-C2: var(--fbor-Sr-C);
        --babor-Sbo-C2: var(--fbor-Sbo-C);
        --babor-Sr-C2: var(--fbor-Sf-C);

        /* Front bottom left block */
        --fbol-Sf-C2: var(--babol-Sl-C);
        --fbol-Sbo-C2: var(--babol-Sbo-C);
        --fbol-Sl-C2: var(--babol-Sba-C);

        /* back bottom left block */
        --babol-Sba-C2: var(--babor-Sr-C);
        --babol-Sbo-C2: var(--babor-Sbo-C);
        --babol-Sl-C2: var(--babor-Sba-C);
    }
}

/* update scene */
@container style(--turn1: true) {

    #turn1 {
        display: none;
    }

    #turn2 {
        display: grid;
    }

    /* reset all of the colors */
    body cube:nth-of-type(1) {

        & front {
            background: var(--ftl-Sf-C2);
        }

        & top {
            background: var(--ftl-St-C2);
        }

        & left {
            background: var(--ftl-Sl-C2);
        }
    }

    body cube:nth-of-type(2) {

        & front {
            background: var(--ftr-Sf-C2);
        }

        & top {
            background: var(--ftr-St-C2);
        }

        & right {
            background: var(--ftr-Sr-C2);
        }
    }

    body cube:nth-of-type(3) {

        & front {
            background: var(--fbol-Sf-C2);
        }

        & bottom {
            background: var(--fbol-Sbo-C2);
        }

        & left {
            background: var(--fbol-Sl-C2);
        }
    }

    body cube:nth-of-type(4) {

        & front {
            background: var(--fbor-Sf-C2);
        }

        & bottom {
            background: var(--fbor-Sbo-C2);
        }

        & right {
            background: var(--fbor-Sr-C2);
        }
    }

    body cube:nth-of-type(5) {

        & back {
            background: var(--batl-Sba-C2);
        }

        & top {
            background: var(--batl-St-C2);
        }

        & left {
            background: var(--batl-Sl-C2);
        }
    }

    body cube:nth-of-type(6) {

        & back {
            background: var(--batr-Sba-C2);
        }

        & top {
            background: var(--batr-St-C2);
        }

        & right {
            background: var(--batr-Sr-C2);
        }
    }

    body cube:nth-of-type(7) {

        & back {
            background: var(--babol-Sba-C2);
        }

        & bottom {
            background: var(--babol-Sbo-C2);
        }

        & left {
            background: var(--babol-Sl-C2);
        }
    }

    body cube:nth-of-type(8) {

        & back {
            background: var(--babor-Sba-C2);
        }

        & bottom {
            background: var(--babor-Sbo-C2);
        }

        & right {
            background: var(--babor-Sr-C2);
        }
    }
}

/* MARK: invoke animation */
@container style(--rightTurnClockWise: true) {

    body {

        & cube:nth-of-type(2),
        cube:nth-of-type(4),
        cube:nth-of-type(6),
        cube:nth-of-type(8) {
            animation: --turn-right var(--animation-duration) 1 var(--animation-easing);

            &>* {
                transition: background-color 0s var(--animation-duration)
            }
        }
    }
}

@container style(--leftTurnClockWise: true) {

    body {

        & cube:nth-of-type(1),
        cube:nth-of-type(3),
        cube:nth-of-type(5),
        cube:nth-of-type(7) {
            animation: --turn-left var(--animation-duration) 1 var(--animation-easing);

            &>* {
                transition: background-color 0s var(--animation-duration)
            }
        }
    }
}

@container style(--topTurnClockWise: true) {

    body {

        & cube:nth-of-type(1),
        cube:nth-of-type(2),
        cube:nth-of-type(5),
        cube:nth-of-type(6) {
            animation: --turn-top var(--animation-duration) 1 var(--animation-easing);

            &>* {
                transition: background-color 0s var(--animation-duration)
            }
        }
    }
}

@container style(--bottomTurnClockWise: true) {

    body {

        & cube:nth-of-type(3),
        cube:nth-of-type(4),
        cube:nth-of-type(7),
        cube:nth-of-type(8) {
            animation: --turn-bottom var(--animation-duration) 1 var(--animation-easing);

            &>* {
                transition: background-color 0s var(--animation-duration)
            }
        }
    }
}

@container style(--frontTurnClockWise: true) {

    body {

        & cube:nth-of-type(1),
        cube:nth-of-type(2),
        cube:nth-of-type(3),
        cube:nth-of-type(4) {
            animation: --turn-front var(--animation-duration) 1 var(--animation-easing);

            &>* {
                transition: background-color 0s var(--animation-duration)
            }
        }
    }
}


/* MARK: TURN 2 */
saving-layer2 {

    /* Update all variables  */
    --ftl-Sf-C: var(--ftl-Sf-C2);
    --ftl-St-C: var(--ftl-St-C2);
    --ftl-Sl-C: var(--ftl-Sl-C2);

    --ftr-Sf-C: var(--ftr-Sf-C2);
    --ftr-St-C: var(--ftr-St-C2);
    --ftr-Sr-C: var(--ftr-Sr-C2);

    --fbol-Sf-C: var(--fbol-Sf-C2);
    --fbol-Sbo-C: var(--fbol-Sbo-C2);
    --fbol-Sl-C: var(--fbol-Sl-C2);

    --fbor-Sf-C: var(--fbor-Sf-C2);
    --fbor-Sbo-C: var(--fbor-Sbo-C2);
    --fbor-Sr-C: var(--fbor-Sr-C2);

    --batl-Sba-C: var(--batl-Sba-C2);
    --batl-St-C: var(--batl-St-C2);
    --batl-Sl-C: var(--batl-Sl-C2);

    --batr-Sba-C: var(--batr-Sba-C2);
    --batr-St-C: var(--batr-St-C2);
    --batr-Sr-C: var(--batr-Sr-C2);

    --babol-Sba-C: var(--babol-Sba-C2);
    --babol-Sbo-C: var(--babol-Sbo-C2);
    --babol-Sl-C: var(--babol-Sl-C2);

    --babor-Sba-C: var(--babor-Sba-C2);
    --babor-Sbo-C: var(--babor-Sbo-C2);
    --babor-Sr-C: var(--babor-Sr-C2);

    /* rechts met de klok mee */
    @container style(--rightTurnClockWise2: true) {

        /* Front top right block */
        --ftr-Sf-C: var(--fbor-Sbo-C2);
        --ftr-St-C: var(--fbor-Sf-C2);
        --ftr-Sr-C: var(--fbor-Sr-C2);

        /* Front bottom right block */
        --fbor-Sf-C: var(--babor-Sbo-C2);
        --fbor-Sbo-C: var(--babor-Sba-C2);
        --fbor-Sr-C: var(--babor-Sr-C2);

        /* Back top right block */
        --batr-Sba-C: var(--ftr-St-C2);
        --batr-St-C: var(--ftr-Sf-C2);
        --batr-Sr-C: var(--ftr-Sr-C2);

        /* Back bottom right block */
        --babor-Sba-C: var(--batr-St-C2);
        --babor-Sbo-C: var(--batr-Sba-C2);
        --babor-Sr-C: var(--batr-Sr-C2);
    }

    /* rechts tegen de klok in */
    @container style(--rightTurnClockCounter2: true) {

        /* Front top right block */
        --ftr-Sf-C: var(--batr-St-C2);
        --ftr-St-C: var(--batr-Sba-C2);
        --ftr-Sr-C: var(--batr-Sr-C2);

        /* Front bottom right block */
        --fbor-Sf-C: var(--ftr-St-C2);
        --fbor-Sbo-C: var(--ftr-Sf-C2);
        --fbor-Sr-C: var(--ftr-Sr-C2);

        /* Back top right block */
        --batr-Sba-C: var(--babor-Sbo-C2);
        --batr-St-C: var(--babor-Sba-C2);
        --batr-Sr-C: var(--babor-Sr-C2);

        /* Back bottom right block */
        --babor-Sba-C: var(--fbor-Sbo-C2);
        --babor-Sbo-C: var(--fbor-Sf-C2);
        --babor-Sr-C: var(--fbor-Sr-C2);

    }

    /* MARK: links tegen de klok in */
    @container style(--turnLeft: true) {

        /* Front top right block */
        --ltr-Sf-C: var(--fbol-Sbo-C2);
        --ftl-St-C: var(--fbol-Sf-C2);
        --ftl-Sl-C: var(--fbol-Sl-C2);

        /* Front bottom right block */
        --fbol-Sf-C: var(--babol-Sbo-C2);
        --fbol-Sbo-C: var(--babol-Sba-C2);
        --fbol-Sl-C: var(--babol-Sl-C2);

        /* Back top right block */
        --batl-Sba-C: var(--ftl-St-C2);
        --batl-St-C: var(--ftl-Sf-C2);
        --batl-Sl-C: var(--ftl-Sl-C2);

        /* Back bottom right block */
        --babol-Sba-C: var(--batl-St-C2);
        --babol-Sbo-C: var(--batl-Sba-C2);
        --babol-Sl-C: var(--batl-Sl-C2);
    }

    /* MARK: links met de klok mee */
    @container style(--leftTurnClockWise2: true) {

        /* Front top right block */
        --ftl-Sf-C: var(--batl-St-C2);
        --ftl-St-C: var(--batl-Sba-C2);
        --ftl-Sl-C: var(--batl-Sl-C2);

        /* Front bottom right block */
        --fbol-Sf-C: var(--ftl-St-C2);
        --fbol-Sbo-C: var(--ftl-Sf-C2);
        --fbol-Sl-C: var(--ftl-Sl-C2);

        /* Back top right block */
        --batl-Sba-C: var(--babol-Sbo-C2);
        --batl-St-C: var(--babol-Sba-C2);
        --batl-Sl-C: var(--babol-Sl-C2);

        /* Back bottom right block */
        --babol-Sba-C: var(--fbol-Sbo-C2);
        --babol-Sbo-C: var(--fbol-Sf-C2);
        --babol-Sl-C: var(--fbol-Sl-C2);

    }

    /* MARK: front met de klok mee */
    @container style(--frontTurnClockWise2: true) {

        /* Front top right block */
        --ftr-Sf-C: var(--ftl-Sf-C2);
        --ftr-St-C: var(--ftl-Sl-C2);
        --ftr-Sr-C: var(--ftl-St-C2);

        /* Front bottom right block */
        --fbor-Sf-C: var(--ftr-Sf-C2);
        --fbor-Sbo-C: var(--ftr-Sr-C2);
        --fbor-Sr-C: var(--ftr-St-C2);

        /* Front top left block */
        --ftl-Sf-C: var(--fbol-Sf-C2);
        --ftl-St-C: var(--fbol-Sl-C2);
        --ftl-Sl-C: var(--fbol-Sbo-C2);

        /* Front bottom left block */
        --fbol-Sf-C: var(--fbor-Sf-C2);
        --fbol-Sbo-C: var(--fbor-Sr-C2);
        --fbol-Sl-C: var(--fbor-Sbo-C2);
    }

    /* MARK: Top met de klok mee */
    @container style(--topTurnClockWise2: true) {

        /* Front top right block */
        --ftr-Sf-C: var(--batr-Sr-C2);
        --ftr-St-C: var(--batr-St-C2);
        --ftr-Sr-C: var(--batr-Sba-C2);

        /* Back top right block */
        --batr-Sba-C: var(--batl-Sl-C2);
        --batr-St-C: var(--batl-St-C2);
        --batr-Sr-C: var(--batl-Sba-C2);

        /* Front top left block */
        --ftl-Sf-C: var(--ftr-Sr-C2);
        --ftl-St-C: var(--ftr-St-C2);
        --ftl-Sl-C: var(--ftr-Sf-C2);

        /* back top left block */
        --batl-Sba-C: var(--ftl-Sl-C2);
        --batl-St-C: var(--ftl-St-C2);
        --batl-Sl-C: var(--ftl-Sf-C2);
    }

    /* MARK: Bottom met de klok mee */
    @container style(--bottomTurnClockWise2: true) {

        /* Front bottom right block */
        --fbor-Sf-C: var(--fbol-Sl-C2);
        --fbor-Sbo-C: var(--fbol-Sbo-C2);
        --fbor-Sr-C: var(--fbol-Sf-C2);

        /* Back bottom right block */
        --babor-Sba-C: var(--fbor-Sr-C2);
        --babor-Sbo-C: var(--fbor-Sbo-C2);
        --babor-Sr-C: var(--fbor-Sf-C2);

        /* Front bottom left block */
        --fbol-Sf-C: var(--babol-Sl-C2);
        --fbol-Sbo-C: var(--babol-Sbo-C2);
        --fbol-Sl-C: var(--babol-Sba-C2);

        /* back bottom left block */
        --babol-Sba-C: var(--babor-Sr-C2);
        --babol-Sbo-C: var(--babor-Sbo-C2);
        --babol-Sl-C: var(--babor-Sba-C2);
    }
}

/* update scene */
@container style(--turn2: true) {

    /* #turn1 {
        display: none;
    }

    #turn2 {
        display: grid;
    } */

    /* reset all of the colors */
    body cube:nth-of-type(1) {

        & front {
            background: var(--ftl-Sf-C);
        }

        & top {
            background: var(--ftl-St-C);
        }

        & left {
            background: var(--ftl-Sl-C);
        }
    }

    body cube:nth-of-type(2) {

        & front {
            background: var(--ftr-Sf-C);
        }

        & top {
            background: var(--ftr-St-C);
        }

        & right {
            background: var(--ftr-Sr-C);
        }
    }

    body cube:nth-of-type(3) {

        & front {
            background: var(--fbol-Sf-C);
        }

        & bottom {
            background: var(--fbol-Sbo-C);
        }

        & left {
            background: var(--fbol-Sl-C);
        }
    }

    body cube:nth-of-type(4) {

        & front {
            background: var(--fbor-Sf-C);
        }

        & bottom {
            background: var(--fbor-Sbo-C);
        }

        & right {
            background: var(--fbor-Sr-C);
        }
    }

    body cube:nth-of-type(5) {

        & back {
            background: var(--batl-Sba-C);
        }

        & top {
            background: var(--batl-St-C);
        }

        & left {
            background: var(--batl-Sl-C);
        }
    }

    body cube:nth-of-type(6) {

        & back {
            background: var(--batr-Sba-C);
        }

        & top {
            background: var(--batr-St-C);
        }

        & right {
            background: var(--batr-Sr-C);
        }
    }

    body cube:nth-of-type(7) {

        & back {
            background: var(--babol-Sba-C);
        }

        & bottom {
            background: var(--babol-Sbo-C);
        }

        & left {
            background: var(--babol-Sl-C);
        }
    }

    body cube:nth-of-type(8) {

        & back {
            background: var(--babor-Sba-C);
        }

        & bottom {
            background: var(--babor-Sbo-C);
        }

        & right {
            background: var(--babor-Sr-C);
        }
    }
}

/* MARK: invoke animation */
@container style(--rightTurnClockWise2: true) {

    body {

        & cube:nth-of-type(2),
        cube:nth-of-type(4),
        cube:nth-of-type(6),
        cube:nth-of-type(8) {
            animation: --turn-right var(--animation-duration) 1 var(--animation-easing);

            &>* {
                transition: background-color 0s var(--animation-duration)
            }
        }
    }
}

@container style(--leftTurnClockWise2: true) {

    body {

        & cube:nth-of-type(1),
        cube:nth-of-type(3),
        cube:nth-of-type(5),
        cube:nth-of-type(7) {
            animation: --turn-left var(--animation-duration) 1 var(--animation-easing);

            &>* {
                transition: background-color 0s var(--animation-duration)
            }
        }
    }
}

@container style(--topTurnClockWise2: true) {

    body {

        & cube:nth-of-type(1),
        cube:nth-of-type(2),
        cube:nth-of-type(5),
        cube:nth-of-type(6) {
            animation: --turn-top var(--animation-duration) 1 var(--animation-easing);

            &>* {
                transition: background-color 0s var(--animation-duration)
            }
        }
    }
}

@container style(--bottomTurnClockWise2: true) {

    body {

        & cube:nth-of-type(3),
        cube:nth-of-type(4),
        cube:nth-of-type(7),
        cube:nth-of-type(8) {
            animation: --turn-bottom var(--animation-duration) 1 var(--animation-easing);

            &>* {
                transition: background-color 0s var(--animation-duration)
            }
        }
    }
}

@container style(--frontTurnClockWise2: true) {

    body {

        & cube:nth-of-type(1),
        cube:nth-of-type(2),
        cube:nth-of-type(3),
        cube:nth-of-type(4) {
            animation: --turn-front var(--animation-duration) 1 var(--animation-easing);

            &>* {
                transition: background-color 0s var(--animation-duration)
            }
        }
    }
}