/* MARK: Custom properties */

:root {
    --color-rubiks-front: cyan;
    --color-rubiks-back: limegreen;
    --color-rubiks-top: white;
    --color-rubiks-bottom: yellow;
    --color-rubiks-left: red;
    --color-rubiks-right: orange;



    --size-full-cube: 20rem;

    --size-one-cube: calc(var(--size-full-cube) / 3);

    --translate-one-side: calc(var(--size-one-cube) / 2);
    --translate-one-cube: calc(var(--size-one-cube) / 2);
    /* ^^^^ distance */

    --translate-one-cube-left: translateX(calc(var(--translate-one-cube)* -1));
    --translate-one-cube-right: translateX(var(--translate-one-cube));
    --translate-one-cube-up: translateY(calc(var(--translate-one-cube) * -1));
    --translate-one-cube-down: translateY(var(--translate-one-cube));
    --translate-one-cube-front: translateZ(var(--translate-one-cube));
    --translate-one-cube-back: translateZ(calc(var(--translate-one-cube) * -1));


    /* Uitleg afkortingen:
        Format: [cube]-[side]-[color] 
        Afkortingen:
            Cube:   
                    ftl = front top left
                    babor = back bottom right
            Side:   
                    Sf = side front
                    Sba = side back
            Color: 
                    Cf = color front
                    Cbo = color bottom 
            */


    /* ===========================
             MARK: Front
   =========================== */
    /* MARK: Left */
    /* front top left cube side color definitions */
    /* side = front */
    --ftl-Sf-C: var(--color-rubiks-front);

    /* side = back */
    --ftl-Sba-C: var(--color-rubiks-back);

    /* side = top */
    --ftl-St-C: var(--color-rubiks-top);

    /* side = bottom */
    --ftl-Sbo-C: var(--color-rubiks-bottom);

    /* side = left */
    --ftl-Sl-C: var(--color-rubiks-left);

    /* side = right */
    --ftl-Sr-C: var(--color-rubiks-right);

    /* front bottom left cube side color definitions */
    /* side = front */
    --fbol-Sf-C: var(--color-rubiks-front);

    /* side = back */
    --fbol-Sba-C: var(--color-rubiks-back);

    /* side = top */
    --fbol-St-C: var(--color-rubiks-top);

    /* side = bottom */
    --fbol-Sbo-C: var(--color-rubiks-bottom);

    /* side = left */
    --fbol-Sl-C: var(--color-rubiks-left);

    /* side = right */
    --fbol-Sr-C: var(--color-rubiks-right);


    /* MARK: Right */
    /* front top right cube side color definitions */
    /* side = front */
    --ftr-Sf-C: var(--color-rubiks-front);

    /* side = back */
    --ftr-Sba-C: var(--color-rubiks-back);

    /* side = top */
    --ftr-St-C: var(--color-rubiks-top);

    /* side = bottom */
    --ftr-Sbo-C: var(--color-rubiks-bottom);

    /* side = left */
    --ftr-Sl-C: var(--color-rubiks-left);

    /* side = right */
    --ftr-Sr-C: var(--color-rubiks-right);

    /*front bottom right cube side color definitions */
    /* side = front */
    --fbor-Sf-C: var(--color-rubiks-front);

    /* side = back */
    --fbor-Sba-C: var(--color-rubiks-back);

    /* side = top */
    --fbor-St-C: var(--color-rubiks-top);

    /* side = bottom */
    --fbor-Sbo-C: var(--color-rubiks-bottom);

    /* side = left */
    --fbor-Sl-C: var(--color-rubiks-left);

    /* side = right */
    --fbor-Sr-C: var(--color-rubiks-right);


    /* ===========================
             MARK: Back
   =========================== */
    /* MARK: Left */
    /* back top left cube side color definitions */
    /* side = front */
    --batl-Sf-C: var(--color-rubiks-front);

    /* side = back */
    --batl-Sba-C: var(--color-rubiks-back);

    /* side = top */
    --batl-St-C: var(--color-rubiks-top);

    /* side = bottom */
    --batl-Sbo-C: var(--color-rubiks-bottom);

    /* side = left */
    --batl-Sl-C: var(--color-rubiks-left);

    /* side = right */
    --batl-Sr-C: var(--color-rubiks-right);

    /* back bottom left cube side color definitions */
    /* side = front */
    --babol-Sf-C: var(--color-rubiks-front);

    /* side = back */
    --babol-Sba-C: var(--color-rubiks-back);

    /* side = top */
    --babol-St-C: var(--color-rubiks-top);

    /* side = bottom */
    --babol-Sbo-C: var(--color-rubiks-bottom);

    /* side = left */
    --babol-Sl-C: var(--color-rubiks-left);

    /* side = right */
    --babol-Sr-C: var(--color-rubiks-right);


    /* MARK: Right */
    /* back top right cube side color definitions */
    /* side = front */
    --batr-Sf-C: var(--color-rubiks-front);

    /* side = back */
    --batr-Sba-C: var(--color-rubiks-back);

    /* side = top */
    --batr-St-C: var(--color-rubiks-top);

    /* side = bottom */
    --batr-Sbo-C: var(--color-rubiks-bottom);

    /* side = left */
    --batr-Sl-C: var(--color-rubiks-left);

    /* side = right */
    --batr-Sr-C: var(--color-rubiks-right);

    /* back bottom right cube side color definitions */
    /* side = front */
    --babor-Sf-C: var(--color-rubiks-front);

    /* side = back */
    --babor-Sba-C: var(--color-rubiks-back);

    /* side = top */
    --babor-St-C: var(--color-rubiks-top);

    /* side = bottom */
    --babor-Sbo-C: var(--color-rubiks-bottom);

    /* side = left */
    --babor-Sl-Cf: var(--color-rubiks-left);

    /* side = right */
    --babor-Sr-C: var(--color-rubiks-right);

}



/* MARK: scene */

main {
    perspective: 30rem;
}

main rubiks {
    /* background: olive; */
    display: grid;

    justify-self: center;
    align-self: center;

    padding: 5rem;
    /* perspective-origin: top left; */

    transform-style: preserve-3d;
}

/* MARK: style */

/* html:has([value="standaard"]:checked) {
    --standaard: true;
}

html:has([value="pastel"]:checked) {
    --pastel: true;
}


@container style(--pastel:true) {
    body {
        --color-rubiks-front: rgb(165, 236, 236);
        --color-rubiks-back: rgb(146, 231, 146);
        --color-rubiks-top: rgb(245, 229, 243);
        --color-rubiks-bottom: rgb(237, 237, 172);
        --color-rubiks-left: rgb(236, 188, 188);
        --color-rubiks-right: rgb(230, 202, 150);
    }
} */

/* MARK: cubes */

cube {
    transform-style: preserve-3d;
    display: grid;
    grid-area: 1/1;
}

cube>* {
    width: var(--size-one-cube);
    aspect-ratio: 1;
    background: hotpink;
    display: block;
    grid-area: 1/1;
}


/* MARK: placing cubes */

/* front top left */
cube:nth-of-type(1) {
    transform: var(--translate-one-cube-left) var(--translate-one-cube-up) var(--translate-one-cube-front);
}

/* front top right */
cube:nth-of-type(2) {
    transform: var(--translate-one-cube-right) var(--translate-one-cube-up) var(--translate-one-cube-front);
}

/* front bottom left */
cube:nth-of-type(3) {
    transform: var(--translate-one-cube-left) var(--translate-one-cube-down) var(--translate-one-cube-front);
}

/* front bottom right */
cube:nth-of-type(4) {
    transform: var(--translate-one-cube-right) var(--translate-one-cube-down) var(--translate-one-cube-front);
}

/* back top left */
cube:nth-of-type(5) {
    transform: var(--translate-one-cube-left) var(--translate-one-cube-up) var(--translate-one-cube-back);
}

/* back top right */
cube:nth-of-type(6) {
    transform: var(--translate-one-cube-right) var(--translate-one-cube-up) var(--translate-one-cube-back);
}

/* back bottom left */
cube:nth-of-type(7) {
    transform: var(--translate-one-cube-left) var(--translate-one-cube-down) var(--translate-one-cube-back);
}

/* back bottom right */
cube:nth-of-type(8) {
    transform: var(--translate-one-cube-right) var(--translate-one-cube-down) var(--translate-one-cube-back);
}


/* MARK: sides */

/* cube ~ * {
    border: 1px solid black;
} */

front {
    background: var(--color-rubiks-front);
    transform: translateZ(var(--translate-one-side));
}

back {
    background: var(--color-rubiks-back);
    transform: translateZ(calc(var(--translate-one-side) * -1));
}

top {
    background: var(--color-rubiks-top);
    transform: rotateX(90deg) translateZ(var(--translate-one-side));
}

bottom {
    background: var(--color-rubiks-bottom);
    transform: rotateX(90deg) translateZ(calc(var(--translate-one-side) * -1));
}


left {
    background: var(--color-rubiks-left);
    transform: rotateY(90deg) translateZ(calc(var(--translate-one-side) * -1));
}

right {
    background: var(--color-rubiks-right);
    transform: rotateY(90deg) translateZ(var(--translate-one-side));
}

/* cube:hover {
    animation: --rotate 4s infinite linear;
} */

rubiks:hover {
    animation: --rotate 10s infinite linear;

}

@keyframes --rotate {
    0% {
        transform:
            rotateX(0deg) rotateY(0deg);
    }

    100% {
        transform:
            rotateX(-360deg) rotateY(-2turn);
    }
}

/* main {
    transform: rotateX(75deg) rotateY(90deg);
} */



/* MARK: LOGIC */


/* Buttons */
#turn2 {
    display: none;
}

html:has([value="1turnRightClockwise"]:checked) {
    --rightTurnClockWise: true;
    --turn1: true;
}

html:has([value="1turnRightCounterwise"]:checked) {
    --rightTurnClockCounter: true;
    --turn1: true;
}

html:has([value="1turnFrontClockwise"]:checked) {
    --frontTurnClockWise: true;
    --turn1: true;
}

html:has([value="1turnFrontCounterwise"]:checked) {
    --frontTurnClockCounter: true;
    --turn1: true;
}

html:has([value="1turnLeftClockwise"]:checked) {
    --leftTurnClockWise: true;
    --turn1: true;
}

html:has([value="1turnLeftCounterwise"]:checked) {
    --leftTurnClockCounter: true;
    --turn1: true;
}

html:has([value="1turnTopClockwise"]:checked) {
    --topTurnClockWise: true;
    --turn1: true;
}

html:has([value="1turnTopCounterwise"]:checked) {
    --topTurnClockCounter: true;
    --turn1: true;
}

html:has([value="1turnBottomClockwise"]:checked) {
    --bottomTurnClockWise: true;
    --turn1: true;
}

html:has([value="1turnBottomClockwise"]:checked) {
    --bottomTurnClockCounter: true;
    --turn1: true;
}


/* MARK: Color-changing */

/* eerste draai */

/* Turn right */
saving-layer1 {

    /* rechts met de klok mee */
    @container style(--rightTurnClockWise: true) {

        /* Front top right block */
        --ftr-Sf-C2: var(--fbor-Sbo-C);
        --ftr-St-C2: var(--fbor-Sf-C);
        --ftr-Sr-C2: var(--fbor-Sr-C);

        /* Front bottom right block */
        --fbor-Sf-C2: var(--babor-Sbo-C);
        --fbor-Sbo-C2: var(--babor-Sba-C);
        --fbor-Sr-C2: var(--babor-Sr-C);

        /* Back top right block */
        --batr-Sba-C2: var(--ftr-St-C);
        --batr-St-C2: var(--ftr-Sf-C);
        --batr-Sr-C2: var(--ftr-Sr-C);

        /* Back bottom right block */
        --babor-Sba-C2: var(--batr-St-C);
        --babor-Sbo-C2: var(--batr-Sba-C);
        --babor-Sr-C2: var(--batr-Sr-C);

        /* rest */
        --ftl-Sf-C2: var(--ftl-Sf-C);
        --ftl-St-C2: var(--ftl-St-C);
        --ftl-Sl-C2: var(--ftl-Sl-C);

        --fbol-Sf-C2: var(--fbol-Sf-C);
        --fbol-Sbo-C2: var(--fbol-Sbo-C);
        --fbol-Sl-C2: var(--fbol-Sl-C);

        --batl-Sba-C2: var(--batl-Sba-C);
        --batl-St-C2: var(--batl-St-C);
        --batl-Sl-C2: var(--batl-Sl-C);

        --babol-Sba-C2: var(--babol-Sba-C);
        --babol-Sbo-C2: var(--babol-Sbo-C);
        --babol-Sl-C2: var(--babol-Sl-C);
    }

    /* rechts tegen de klok in */
    @container style(--rightTurnClockCounter: true) {

        /* Front top right block */
        --ftr-Sf-C: var(--batr-St-C);
        --ftr-St-C: var(--batr-Sba-C);
        --ftr-Sr-C: var(--batr-Sr-C);

        /* Front bottom right block */
        --fbor-Sf-C: var(--ftr-St-C);
        --fbor-Sbo-C: var(--ftr-Sf-C);
        --fbor-Sr-C: var(--ftr-Sr-C);

        /* Back top right block */
        --batr-Sba-C: var(--babor-Sbo-C);
        --batr-St-C: var(--babor-Sba-C);
        --batr-Sr-C: var(--babor-Sr-C);

        /* Back bottom right block */
        --babor-Sba-C: var(--fbor-Sbo-C);
        --babor-Sbo-C: var(--fbor-Sf-C);
        --babor-Sr-C: var(--fbor-Sr-C);


    }

    /* links tegen de klok in */
    @container style(--turnLeft: true) {

        /* Front top right block */
        --ltr-Sf-C: var(--fbol-Sbo-C);
        --ftl-St-C: var(--fbol-Sf-C);
        --ftl-Sl-C: var(--fbol-Sl-C);

        /* Front bottom right block */
        --fbol-Sf-C: var(--babol-Sbo-C);
        --fbol-Sbo-C: var(--babol-Sba-C);
        --fbol-Sl-C: var(--babol-Sl-C);

        /* Back top right block */
        --batl-Sba-C: var(--ftl-St-C);
        --batl-St-C: var(--ftl-Sf-C);
        --batl-Sl-C: var(--ftl-Sl-C);

        /* Back bottom right block */
        --babol-Sba-C: var(--batl-St-C);
        --babol-Sbo-C: var(--batl-Sba-C);
        --babol-Sl-C: var(--batl-Sl-C);
    }

    /* links met de klok mee */
    @container style(--leftTurnClockWise: true) {

        /* Front top right block */
        --ftl-Sf-C2: var(--batl-St-C);
        --ftl-St-C2: var(--batl-Sba-C);
        --ftl-Sl-C2: var(--batl-Sl-C);

        /* Front bottom right block */
        --fbol-Sf-C2: var(--ftl-St-C);
        --fbol-Sbo-C2: var(--ftl-Sf-C);
        --fbol-Sl-C2: var(--ftl-Sl-C);

        /* Back top right block */
        --batl-Sba-C2: var(--babol-Sbo-C);
        --batl-St-C2: var(--babol-Sba-C);
        --batl-Sl-C2: var(--babol-Sl-C);

        /* Back bottom right block */
        --babol-Sba-C2: var(--fbol-Sbo-C);
        --babol-Sbo-C2: var(--fbol-Sf-C);
        --babol-Sl-C2: var(--fbol-Sl-C);

        /* rest */
        --ftr-Sf-C2: var(--ftr-Sf-C);
        --ftr-St-C2: var(--ftr-St-C);
        --ftr-Sr-C2: var(--ftr-Sr-C);

        --fbor-Sf-C2: var(--fbor-Sf-C);
        --fbor-Sbo-C2: var(--fbor-Sbo-C);
        --fbor-Sr-C2: var(--fbor-Sr-C);

        --batr-Sba-C2: var(--batr-Sba-C);
        --batr-St-C2: var(--batr-St-C);
        --batr-Sr-C2: var(--batr-Sr-C);

        --babor-Sba-C2: var(--babor-Sba-C);
        --babor-Sbo-C2: var(--babor-Sbo-C);
        --babor-Sr-C2: var(--babor-Sr-C);
    }

    /* front met de klok mee */
    @container style(--frontTurnClockWise: true) {

        /* Front top right block */
        --ftr-Sf-C2: var(--ftl-Sf-C);
        --ftr-St-C2: var(--ftl-Sl-C);
        --ftr-Sr-C2: var(--ftl-St-C);

        /* Front bottom right block */
        --fbor-Sf-C2: var(--ftr-Sf-C);
        --fbor-Sbo-C2: var(--ftr-Sr-C);
        --fbor-Sr-C2: var(--ftr-St-C);

        /* Front top left block */
        --ftl-Sf-C2: var(--fbol-Sf-C);
        --ftl-St-C2: var(--fbol-Sl-C);
        --ftl-Sl-C2: var(--fbol-Sbo-C);

        /* Front bottom left block */
        --fbol-Sf-C2: var(--fbor-Sf-C);
        --fbol-Sbo-C2: var(--fbor-Sr-C);
        --fbol-Sl-C2: var(--fbor-Sbo-C);

        /* rest */
        --batr-Sba-C2: var(--batr-Sba-C);
        --batr-St-C2: var(--batr-St-C);
        --batr-Sr-C2: var(--batr-Sr-C);

        --babor-Sba-C2: var(--babor-Sba-C);
        --babor-Sbo-C2: var(--babor-Sbo-C);
        --babor-Sr-C2: var(--babor-Sr-C);

        --batl-Sba-C2: var(--batl-Sba-C);
        --batl-St-C2: var(--batl-St-C);
        --batl-Sl-C2: var(--batl-Sl-C);

        --babol-Sba-C2: var(--babol-Sba-C);
        --babol-Sbo-C2: var(--babol-Sbo-C);
        --babol-Sl-C2: var(--babol-Sl-C);

    }

    /* Top met de klok mee */
    @container style(--topTurnClockWise: true) {

        /* Front top right block */
        --ftr-Sf-C2: var(--batr-Sr-C);
        --ftr-St-C2: var(--batr-St-C);
        --ftr-Sr-C2: var(--batr-Sba-C);

        /* Back top right block */
        --batr-Sba-C2: var(--batl-Sl-C);
        --batr-St-C2: var(--batl-St-C);
        --batr-Sr-C2: var(--batl-Sba-C);

        /* Front top left block */
        --ftl-Sf-C2: var(--ftr-Sr-C);
        --ftl-St-C2: var(--ftr-St-C);
        --ftl-Sl-C2: var(--ftr-Sf-C);

        /* back top left block */
        --batl-Sba-C2: var(--ftl-Sl-C);
        --batl-St-C2: var(--ftl-St-C);
        --batl-Sl-C2: var(--ftl-Sf-C);

        /* rest */
        --babor-Sba-C2: var(--babor-Sba-C);
        --babor-Sbo-C2: var(--babor-Sbo-C);
        --babor-Sr-C2: var(--babor-Sr-C);

        --fbor-Sf-C2: var(--fbor-Sf-C);
        --fbor-Sbo-C2: var(--fbor-Sbo-C);
        --fbor-Sr-C2: var(--fbor-Sr-C);

        --babol-Sba-C2: var(--babol-Sba-C);
        --babol-Sbo-C2: var(--babol-Sbo-C);
        --babol-Sl-C2: var(--babol-Sl-C);

        --fbol-Sf-C2: var(--fbol-Sf-C);
        --fbol-Sbo-C2: var(--fbol-Sbo-C);
        --fbol-Sl-C2: var(--fbol-Sl-C);
    }

    /* Bottom met de klok mee */
    @container style(--bottomTurnClockWise: true) {

        /* Front bottom right block */
        --fbor-Sf-C2: var(--fbol-Sl-C);
        --fbor-Sbo-C2: var(--fbol-Sbo-C);
        --fbor-Sr-C2: var(--fbol-Sf-C);

        /* Back bottom right block */
        --babor-Sba-C2: var(--fbor-Sr-C);
        --babor-Sbo-C2: var(--fbor-Sbo-C);
        --babor-Sr-C2: var(--fbor-Sf-C);

        /* Front bottom left block */
        --fbol-Sf-C2: var(--babol-Sl-C);
        --fbol-Sbo-C2: var(--babol-Sbo-C);
        --fbol-Sl-C2: var(--babol-Sba-C);

        /* back bottom left block */
        --babol-Sba-C2: var(--babor-Sr-C);
        --babol-Sbo-C2: var(--babor-Sbo-C);
        --babol-Sl-C2: var(--babor-Sba-C);

        /* rest */
        --batr-Sba-C2: var(--batr-Sba-C);
        --batr-St-C2: var(--batr-St-C);
        --batr-Sr-C2: var(--batr-Sr-C);

        --ftr-Sf-C2: var(--ftr-Sf-C);
        --ftr-St-C2: var(--ftr-St-C);
        --ftr-Sr-C2: var(--ftr-Sr-C);

        --batl-Sba-C2: var(--batl-Sba-C);
        --batl-St-C2: var(--batl-St-C);
        --batl-Sl-C2: var(--batl-Sl-C);

        --ftl-Sf-C2: var(--ftl-Sf-C);
        --ftl-St-C2: var(--ftl-St-C);
        --ftl-Sl-C2: var(--ftl-Sl-C);
    }

}

/* cube:nth-of-type(2) {
    animation: --rotateFTR 2s 1 linear;
}

cube:nth-of-type(4) {
    animation: --rotateFBoR 2s 1 linear;
}

cube:nth-of-type(6) {
    animation: --rotateBaTR 2s 1 linear;
}

cube:nth-of-type(8) {
    animation: --rotateBaBoR 2s 1 linear;
} */



@container style(--turn1: true) {

    #turn1 {
        display: none;
    }

    #turn2 {
        display: grid;
    }

    body cube:nth-of-type(1) {

        & front {
            background: var(--ftl-Sf-C2);
        }

        & top {
            background: var(--ftl-St-C2);
        }

        & left {
            background: var(--ftl-Sl-C2);
        }
    }

    body cube:nth-of-type(2) {

        & front {
            background: var(--ftr-Sf-C2);
        }

        & top {
            background: var(--ftr-St-C2);
        }

        & right {
            background: var(--ftr-Sr-C2);
        }
    }

    body cube:nth-of-type(3) {

        & front {
            background: var(--fbol-Sf-C2);
        }

        & bottom {
            background: var(--fbol-Sbo-C2);
        }

        & left {
            background: var(--fbol-Sl-C2);
        }
    }

    body cube:nth-of-type(4) {

        & front {
            background: var(--fbor-Sf-C2);
        }

        & bottom {
            background: var(--fbor-Sbo-C2);
        }

        & right {
            background: var(--fbor-Sr-C2);
        }
    }

    body cube:nth-of-type(5) {

        & back {
            background: var(--batl-Sba-C2);
        }

        & top {
            background: var(--batl-St-C2);
        }

        & left {
            background: var(--batl-Sl-C2);
        }
    }

    body cube:nth-of-type(6) {

        & back {
            background: var(--batr-Sba-C2);
        }

        & top {
            background: var(--batr-St-C2);
        }

        & right {
            background: var(--batr-Sr-C2);
        }
    }

    body cube:nth-of-type(7) {

        & back {
            background: var(--babol-Sba-C2);
        }

        & bottom {
            background: var(--babol-Sbo-C2);
        }

        & left {
            background: var(--babol-Sl-C2);
        }

        body cube:nth-of-type(8) {

            & back {
                background: var(--babor-Sba-C2);
            }

            & bottom {
                background: var(--babor-Sbo-C2);
            }

            & right {
                background: var(--babor-Sr-C2);
            }
        }
    }

    /* MARK: animation */

    @container style(--rightTurnClockWise: true) {

        /* front top right */
        body cube:nth-of-type(2) {
            animation: --rotateFTR 2s 1 linear;

            & front {
                background: var(--ftr-Sf-C2);
            }

            & top {
                background: var(--ftr-St-C2);
            }

            & right {
                background: var(--ftr-Sr-C2);
            }

        }

        /* front bottom right */
        body cube:nth-of-type(4) {
            animation: --rotateFBoR 2s 1 linear;

            & front {
                background: var(--fbor-Sf-C2);
            }

            & bottom {
                background: var(--fbor-Sbo-C2);
            }

            & right {
                background: var(--fbor-Sr-C2);
            }

        }

        /* back top right */
        body cube:nth-of-type(6) {
            animation: --rotateBaTR 2s 1 linear;


            & back {
                background: var(--batr-Sba-C2);
            }

            & top {
                background: var(--batr-St-C2);
            }

            & right {
                background: var(--batr-Sr-C2);
            }

        }


        /* back bottom right */
        body cube:nth-of-type(8) {
            animation: --rotateBaBoR 2s 1 linear;


            & back {
                background: var(--babor-Sba-C2);
            }

            & bottom {
                background: var(--babor-Sbo-C2);
            }

            & right {
                background: var(--babor-Sr-C2);
            }

        }
    }

    saving-layer2 {

        /* front met de klok mee */
        @container style(--turnFront: true) {

            /* Front top right block */
            --ftr-Sf-C: var(--ftl-Sf-C2);
            --ftr-St-C: var(--ftl-Sl-C2);
            --ftr-Sr-C: var(--ftl-St-C2);

            /* Front bottom right block */
            --fbor-Sf-C: var(--ftr-Sf-C2);
            --fbor-Sbo-C: var(--ftr-Sr-C2);
            --fbor-Sr-C: var(--ftr-St-C2);

            /* Front top left block */
            --ftl-Sf-C: var(--fbol-Sf-C2);
            --ftl-St-C: var(--fbol-Sl-C2);
            --ftl-Sl-C: var(--fbol-Sbo-C2);

            /* Front bottom left block */
            --fbol-Sf-C: var(--fbor-Sf-C2);
            --fbol-Sbo-C: var(--fbor-Sr-C2);
            --fbol-Sl-C: var(--fbor-Sbo-C2);

        }
    }

    @container style(--turnFront: true) {

        /* front top right */
        body cube:nth-of-type(2) {
            & front {
                background: var(--ftr-Sf-C);
            }

            & top {
                background: var(--ftr-St-C);
            }

            & right {
                background: var(--ftr-Sr-C);
            }

        }

        /* front bottom right */
        body cube:nth-of-type(4) {
            & front {
                background: var(--fbor-Sf-C);
            }

            & bottom {
                background: var(--fbor-Sbo-C);
            }

            & right {
                background: var(--fbor-Sr-C);
            }

        }

        /* front top left */
        body cube:nth-of-type(1) {

            & front {
                background: var(--ftl-Sf-C);
            }

            & top {
                background: var(--ftl-St-C);
            }

            & left {
                background: var(--ftl-Sl-C);
            }

        }


        /* front bottom left */
        body cube:nth-of-type(3) {

            & front {
                background: var(--fbol-Sf-C);
            }

            & bottom {
                background: var(--fbol-Sbo-C);
            }

            & left {
                background: var(--fbol-Sl-C);
            }

        }
    }

    /* cube:nth-last-of-type(2)
cube:nth-last-of-type(4)
cube:nth-last-of-type(6)
cube:nth-last-of-type(8) */


    /* MARK: keyframes */

    /* animation */
    @keyframes --rotateFTR {
        0% {
            transform: rotateX(0deg) var(--translate-one-cube-right) var(--translate-one-cube-up) var(--translate-one-cube-front);
        }

        100% {
            transform: rotateX(90deg) var(--translate-one-cube-right) var(--translate-one-cube-up) var(--translate-one-cube-front);
        }
    }

    @keyframes --rotateFBoR {
        0% {
            transform: rotateX(0deg) var(--translate-one-cube-right) var(--translate-one-cube-down) var(--translate-one-cube-front);
        }

        100% {
            transform: rotateX(90deg) var(--translate-one-cube-right) var(--translate-one-cube-down) var(--translate-one-cube-front);
        }
    }


    @keyframes --rotateBaTR {
        0% {
            transform: rotateX(0deg) var(--translate-one-cube-right) var(--translate-one-cube-up) var(--translate-one-cube-back);
        }

        100% {
            transform: rotateX(90deg) var(--translate-one-cube-right) var(--translate-one-cube-up) var(--translate-one-cube-back);
        }
    }

    @keyframes --rotateBaBoR {
        0% {
            transform: rotateX(0deg) var(--translate-one-cube-right) var(--translate-one-cube-down) var(--translate-one-cube-back);
        }

        100% {
            transform: rotateX(90deg) var(--translate-one-cube-right) var(--translate-one-cube-down) var(--translate-one-cube-back);
        }
    }



    /* @container style(--ftr-Sf-Cbo: true) {
    rubiks {

        --fbor-Sf-Cbo: true;
    }


} */

    /* body cube:nth-of-type(2) {
    & front {
        background: var(--ftr-Sf-C);

    }
} */

    /* MARK: testing if I can store data  */
    /* body cube:nth-of-type(2) {
    @container style(--ftr-Sf-C: var(--color-rubiks-bottom)) {

        & front {
            background: var(--ftr-Sf-C);

        }
    }

} */

    body cube:nth-of-type(2) {
        @container style(--ftr-Sf-C: front) {

            & front {
                background: var(--color-rubiks-front);

            }
        }

    }

    /* body cube:nth-of-type(2) front {
    background: if(style(--ftr-Sf-Cbo: true): var(--color-rubiks-bottom); else: purple);
} */

    body cube:nth-of-type(4) {
        @container style(--fbor-Sf-C: bottom) {

            & front {

                background: var(--color-rubiks-bottom);


            }

            /* background: if(style(--fbor-Sf-Cbo: true): var(--color-rubiks-bottom)); */
        }

    }
}


/* body cube:nth-of-type(4) {
    @container style(--fbor-Sf-Cbo: true) {

        & front { 
            background: var(--color-rubiks-bottom);
        }
    } */

/* @container style(--fbor-Sf-Cf: true) {

        & front { 
            background: var(--color-rubiks-right);
        }
    } */

/* } */

/* body cube:nth-of-type(2) {
    @container style(--ftr-Sf-Cf: true) {

        & top {
            --ftr-Sf-Cf: true;
            background: var(--color-rubiks-front);
        }
    }
} */


/* MARK: sneller en minder uitgebreide manier van uitrekenen welke kleur het moet zijn */
/* cube:nth-of-type(1) front {

    @container style(--color-rubiks-front) {
        background-color: hotpink;
    }
} */

/* cube:nth-of-type(4) front {
    @container style(--color-rubiks-bottom) {
        border: 1px solid green;

    }
} */




/* 
background if(style(--ftr-Sf-Cf:true): var(--color-rubiks-front);
    style(--ftr-Sf-Cba:true): var(--color-rubiks-back);
    style(--ftr-Sf-Ct:true): var(--color-rubiks-top);
    style(--ftr-Sf-Cbo:true): var(--color-rubiks-bottom);
    style(--ftr-Sf-Cl:true): var(--color-rubiks-left);
    style(--ftr-Sf-Cr:true): var(--color-rubiks-right));

background: var(--color-rubiks-front); */

/*  --ftr-Sf-Cf: true;
    --ftr-Sf-Cba: false;
    --ftr-Sf-Ct: false;
    --ftr-Sf-Cbo: false;
    --ftr-Sf-Cl: false;
    --ftr-Sf-Cr: false; */




/* front top right = 2
front top bottom = 4*/