/* MARK: Custom properties */

:root {
    --color-rubiks-front: cyan;
    --color-rubiks-back: limegreen;
    --color-rubiks-top: white;
    --color-rubiks-bottom: yellow;
    --color-rubiks-left: red;
    --color-rubiks-right: orange;



    --size-full-cube: 20rem;

    --size-one-cube: calc(var(--size-full-cube) / 3);

    --translate-one-side: calc(var(--size-one-cube) / 2);
    --translate-one-cube: calc(var(--size-one-cube) / 2);
    /* ^^^^ distance */

    --translate-one-cube-left: translateX(calc(var(--translate-one-cube)* -1));
    --translate-one-cube-right: translateX(var(--translate-one-cube));
    --translate-one-cube-up: translateY(calc(var(--translate-one-cube) * -1));
    --translate-one-cube-down: translateY(var(--translate-one-cube));
    --translate-one-cube-front: translateZ(var(--translate-one-cube));
    --translate-one-cube-back: translateZ(calc(var(--translate-one-cube) * -1));






    /* Uitleg afkortingen:
        Format: [cube]-[side]-[color] 
        Afkortingen:
            Cube:   
                    ftl = front top left
                    babor = back bottom right
            Side:   
                    Sf = side front
                    Sba = side back
            Color: 
                    Cf = color front
                    Cbo = color bottom 
            */


    /* ===========================
             MARK: Front
   =========================== */
    /* MARK: Left */
    /* front top left cube side color definitions */
    /* side = front */
    --ftl-Sf-C: front;

    /* side = back */
    --ftl-Sba-C: back;

    /* side = top */
    --ftl-St-C: top;

    /* side = bottom */
    --ftl-Sbo-C: bottom;

    /* side = left */
    --ftl-Sl-C: left;

    /* side = right */
    --ftl-Sr-C: right;

    /* front bottom left cube side color definitions */
    /* side = front */
    --fbol-Sf-C: front;

    /* side = back */
    --fbol-Sba-C: back;

    /* side = top */
    --fbol-St-C: top;

    /* side = bottom */
    --fbol-Sbo-C: bottom;

    /* side = left */
    --fbol-Sl-C: left;

    /* side = right */
    --fbol-Sr-C: right;


    /* MARK: Right */
    /* front top right cube side color definitions */
    /* side = front */
    --ftr-Sf-C: front;

    /* side = back */
    --ftr-Sba-C: back;

    /* side = top */
    --ftr-St-C: top;

    /* side = bottom */
    --ftr-Sbo-C: bottom;

    /* side = left */
    --ftr-Sl-C: left;

    /* side = right */
    --ftr-Sr-C: right;

    /*front bottom right cube side color definitions */
    /* side = front */
    --fbor-Sf-C: front;

    /* side = back */
    --fbor-Sba-C: back;

    /* side = top */
    --fbor-St-C: top;

    /* side = bottom */
    --fbor-Sbo-C: bottom;

    /* side = left */
    --fbor-Sl-C: left;

    /* side = right */
    --fbor-Sr-C: right;


    /* ===========================
             MARK: Back
   =========================== */
    /* MARK: Left */
    /* back top left cube side color definitions */
    /* side = front */
    --batl-Sf-C: front;

    /* side = back */
    --batl-Sba-C: back;

    /* side = top */
    --batl-St-C: top;

    /* side = bottom */
    --batl-Sbo-C: bottom;

    /* side = left */
    --batl-Sl-C: left;

    /* side = right */
    --batl-Sr-C: right;

    /* back bottom left cube side color definitions */
    /* side = front */
    --babol-Sf-C: front;

    /* side = back */
    --babol-Sba-C: back;

    /* side = top */
    --babol-St-C: top;

    /* side = bottom */
    --babol-Sbo-C: bottom;

    /* side = left */
    --babol-Sl-C: left;

    /* side = right */
    --babol-Sr-C: right;


    /* MARK: Right */
    /* back top right cube side color definitions */
    /* side = front */
    --batr-Sf-C: front;

    /* side = back */
    --batr-Sba-C: back;

    /* side = top */
    --batr-St-C: top;

    /* side = bottom */
    --batr-Sbo-C: bottom;

    /* side = left */
    --batr-Sl-C: left;

    /* side = right */
    --batr-Sr-C: right;

    /* back bottom right cube side color definitions */
    /* side = front */
    --babor-Sf-C: front;

    /* side = back */
    --babor-Sba-C: back;

    /* side = top */
    --babor-St-C: top;

    /* side = bottom */
    --babor-Sbo-C: bottom;

    /* side = left */
    --babor-Sl-Cf: left;

    /* side = right */
    --babor-Sr-C: right;

}



/* MARK: scene */

main {
    perspective: 30rem;

}

main rubiks {
    /* background: olive; */
    display: grid;


    justify-self: center;
    align-self: center;


    padding: 5rem;


    /* perspective-origin: top left; */

    transform-style: preserve-3d;



}

/* MARK: style */

html:has([value="standaard"]:checked) {
    --standaard: true;
}

html:has([value="pastel"]:checked) {
    --pastel: true;
}


@container style(--pastel:true) {
    body {
        --color-rubiks-front: rgb(165, 236, 236);
        --color-rubiks-back: rgb(146, 231, 146);
        --color-rubiks-top: rgb(245, 229, 243);
        --color-rubiks-bottom: rgb(237, 237, 172);
        --color-rubiks-left: rgb(236, 188, 188);
        --color-rubiks-right: rgb(230, 202, 150);
    }
}



/* MARK: cubes */

cube {
    transform-style: preserve-3d;

    display: grid;

    grid-area: 1/1;

}



cube>* {
    width: var(--size-one-cube);
    aspect-ratio: 1;
    background: hotpink;
    display: block;

    grid-area: 1/1;
}


/* MARK: placing cubes */

/* front top left */
cube:nth-of-type(1) {
    transform: var(--translate-one-cube-left) var(--translate-one-cube-up) var(--translate-one-cube-front);
}

/* front top right */
cube:nth-of-type(2) {
    transform: var(--translate-one-cube-right) var(--translate-one-cube-up) var(--translate-one-cube-front);
}

/* front bottom left */
cube:nth-of-type(3) {
    transform: var(--translate-one-cube-left) var(--translate-one-cube-down) var(--translate-one-cube-front);
}

/* front bottom right */
cube:nth-of-type(4) {
    transform: var(--translate-one-cube-right) var(--translate-one-cube-down) var(--translate-one-cube-front);
}

/* back top left */
cube:nth-of-type(5) {
    transform: var(--translate-one-cube-left) var(--translate-one-cube-up) var(--translate-one-cube-back);
}

/* back top right */
cube:nth-of-type(6) {
    transform: var(--translate-one-cube-right) var(--translate-one-cube-up) var(--translate-one-cube-back);
}

/* back bottom left */
cube:nth-of-type(7) {
    transform: var(--translate-one-cube-left) var(--translate-one-cube-down) var(--translate-one-cube-back);
}

/* back bottom right */
cube:nth-of-type(8) {
    transform: var(--translate-one-cube-right) var(--translate-one-cube-down) var(--translate-one-cube-back);
}




/* MARK: sides */

/* cube ~ * {
    border: 1px solid black;
} */


front {
    background: var(--color-rubiks-front);
    transform: translateZ(var(--translate-one-side));
    /* border: 1px solid black; */
}

back {
    background: var(--color-rubiks-back);
    transform: translateZ(calc(var(--translate-one-side) * -1));
}

top {
    background: var(--color-rubiks-top);
    transform: rotateX(90deg) translateZ(var(--translate-one-side));
}

bottom {
    background: var(--color-rubiks-bottom);
    transform: rotateX(90deg) translateZ(calc(var(--translate-one-side) * -1));
}


left {
    background: var(--color-rubiks-left);
    transform: rotateY(90deg) translateZ(calc(var(--translate-one-side) * -1));
}

right {
    background: var(--color-rubiks-right);
    transform: rotateY(90deg) translateZ(var(--translate-one-side));
}

/* cube:hover {
    animation: --rotate 4s infinite linear;
} */

rubiks:hover {
    animation: --rotate 6s infinite linear;

}


@keyframes --rotate {
    0% {
        transform:
            rotateX(0deg) rotateY(0deg);
    }

    100% {
        transform:
            rotateX(360deg) rotateY(2turn);
    }
}

/* main {
    transform: rotateX(75deg) rotateY(90deg);
} */

/* MARK: change colors */

html:has([value="turnRight"]:checked) {
    --rightTurn: true;
}

@container style(--rightTurn:true) {

    /* MARK: front top right -> front side */
    body {

        /* @container style(--fbor-Sbo-Cf: true) {
            --ftr-Sf-Cf: true;
            --ftr-Sf-Cba: false;
            --ftr-Sf-Ct: false;
            --ftr-Sf-Cbo: false;
            --ftr-Sf-Cl: false;
            --ftr-Sf-Cr: false;

            background: var(--color-rubiks-front);
        }

        @container style(--fbor-Sbo-Cba: true) {
            --ftr-Sf-Cf: false;
            --ftr-Sf-Cba: true;
            --ftr-Sf-Ct: false;
            --ftr-Sf-Cbo: false;
            --ftr-Sf-Cl: false;
            --ftr-Sf-Cr: false;

            background: var(--color-rubiks-back);

        }

        @container style(--fbor-Sbo-Ct: true) {
            --ftr-Sf-Cf: false;
            --ftr-Sf-Cba: false;
            --ftr-Sf-Ct: true;
            --ftr-Sf-Cbo: false;
            --ftr-Sf-Cl: false;
            --ftr-Sf-Cr: false;

            background: var(--color-rubiks-top);

        } */

        @container style(--fbor-Sbo-C: bottom) {
            --ftr-Sf-C: var(--color-rubiks-bottom);
            /* background: var(--color-rubiks-bottom);*/
        }



        /* --ftr-Sf-C: var(var(--fbor-Sbo-C));
        background: var(--ftr-Sf-C); */

        /* @container style(--fbor-Sbo-Cl: true) {
            --ftr-Sf-Cf: false;
            --ftr-Sf-Cba: false;
            --ftr-Sf-Ct: false;
            --ftr-Sf-Cbo: false;
            --ftr-Sf-Cl: true;
            --ftr-Sf-Cr: false;

            background: var(--color-rubiks-left);
        }

        @container style(--fbor-Sbo-Cr: true) {
            --ftr-Sf-Cf: false;
            --ftr-Sf-Cba: false;
            --ftr-Sf-Ct: false;
            --ftr-Sf-Cbo: false;
            --ftr-Sf-Cl: false;
            --ftr-Sf-Cr: true;

            background: var(--color-rubiks-right);

        } */
    }
}


html:has([value="turnFront"]:checked) {
    --turnFront: true;
}

@container style(--turnFront: true) {


    /* MARK: front top right -> front side */
    rubiks {
        /* border: 3px solid black; */


        /* @container style(--ftr-Sf-Cf: true) {
            --fbor-Sf-Cf: true;
            --fbor-Sf-Cba: false;
            --fbor-Sf-Ct: false;
            --fbor-Sf-Cbo: false;
            --fbor-Sf-Cl: false;
            --fbor-Sf-Cr: false;

            background: var(--color-rubiks-front);
        } */

        /* @container style(--ftr-Sf-Cba: true) {
            --fbor-Sf-Cf: false;
            --fbor-Sf-Cba: true;
            --fbor-Sf-Ct: false;
            --fbor-Sf-Cbo: false;
            --fbor-Sf-Cl: false;
            --fbor-Sf-Cr: false;

            background: var(--color-rubiks-back);

        }

        @container style(--ftr-Sf-Ct: true) {
            --fbor-Sf-Cf: false;
            --fbor-Sf-Cba: false;
            --fbor-Sf-Ct: true;
            --fbor-Sf-Cbo: false;
            --fbor-Sf-Cl: false;
            --fbor-Sf-Cr: false;

            background: var(--color-rubiks-top);

        } */

        @container style(--ftr-Sf-C: bottom) {
            --fbor-Sf-C: var(--ftr-Sf-C);

            /* border: 1px solid black; */

            /* background: var(--color-rubiks-bottom); */

        }

        /* @container style(--ftr-Sf-Cl: true) {
            --fbor-Sf-Cf: false;
            --fbor-Sf-Cba: false;
            --fbor-Sf-Ct: false;
            --fbor-Sf-Cbo: false;
            --fbor-Sf-Cl: true;
            --fbor-Sf-Cr: false;

            background: var(--color-rubiks-left);
        }

        @container style(--ftr-Sf-Cr: true) {
            --fbor-Sf-Cf: false;
            --fbor-Sf-Cba: false;
            --fbor-Sf-Ct: false;
            --fbor-Sf-Cbo: false;
            --fbor-Sf-Cl: false;
            --fbor-Sf-Cr: true;

            background: var(--color-rubiks-right);

        } */
    }

}

/* @container style(--ftr-Sf-Cbo: true) {
    rubiks {

        --fbor-Sf-Cbo: true;
    }


} */

body cube:nth-of-type(2) {
    & front {
        background: var(--ftr-Sf-C);

    }
}

/* MARK: testing if I can store data  */
/* body cube:nth-of-type(2) {
    @container style(--ftr-Sf-C: var(--color-rubiks-bottom)) {

        & front {
            background: var(--ftr-Sf-C);

        }
    }

} */

body cube:nth-of-type(2) {
    @container style(--ftr-Sf-C: front) {

        & front {
            background: var(--color-rubiks-front);

        }
    }

}

/* body cube:nth-of-type(2) front {
    background: if(style(--ftr-Sf-Cbo: true): var(--color-rubiks-bottom); else: purple);
} */

body cube:nth-of-type(4) {
    @container style(--fbor-Sf-C: bottom) {

        & front {

            background: var(--color-rubiks-bottom);


        }

        /* background: if(style(--fbor-Sf-Cbo: true): var(--color-rubiks-bottom)); */
    }

}


/* body cube:nth-of-type(4) {
    @container style(--fbor-Sf-Cbo: true) {

        & front { 
            background: var(--color-rubiks-bottom);
        }
    } */

/* @container style(--fbor-Sf-Cf: true) {

        & front { 
            background: var(--color-rubiks-right);
        }
    } */

/* } */

/* body cube:nth-of-type(2) {
    @container style(--ftr-Sf-Cf: true) {

        & top {
            --ftr-Sf-Cf: true;
            background: var(--color-rubiks-front);
        }
    }
} */





/* MARK: sneller en minder uitgebreide manier van uitrekenen welke kleur het moet zijn */
/* cube:nth-of-type(1) front {

    @container style(--color-rubiks-front) {
        background-color: hotpink;
    }
} */

/* cube:nth-of-type(4) front {
    @container style(--color-rubiks-bottom) {
        border: 1px solid green;

    }
} */








/* 
background if(style(--ftr-Sf-Cf:true): var(--color-rubiks-front);
    style(--ftr-Sf-Cba:true): var(--color-rubiks-back);
    style(--ftr-Sf-Ct:true): var(--color-rubiks-top);
    style(--ftr-Sf-Cbo:true): var(--color-rubiks-bottom);
    style(--ftr-Sf-Cl:true): var(--color-rubiks-left);
    style(--ftr-Sf-Cr:true): var(--color-rubiks-right));

background: var(--color-rubiks-front); */

/*  --ftr-Sf-Cf: true;
    --ftr-Sf-Cba: false;
    --ftr-Sf-Ct: false;
    --ftr-Sf-Cbo: false;
    --ftr-Sf-Cl: false;
    --ftr-Sf-Cr: false; */




/* front top right = 2
front top bottom = 4*/