* {
    box-sizing: border-box;
}

* {


    color: var(--color-content-default);
    font-size: var(--font-size);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

body {
    display: grid;
    background: var(--colors-white);
}


h1 {
    justify-self: center;
    text-transform: uppercase;
    font-size: var(--title-size);

}



/* new styling */




/* Styling buttons */



input[type="radio"] {
    justify-content: center;

    opacity: 0;
    position: absolute;
    left: -999rem
}

:root {
    --standard-styling: true;

    --colors-dark: #262520;
    --colors-secundary: #534f3a;
    --colors-primary: #97a454;
    --colors-light: #F1E8C7;
    --colors-white: #fffcf1;

    --colors-hover: #697724;
    --colors-active: #565e2e;
    --colors-midtone: #a5ab83;

    

    --color-content-default: var(--colors-primary);
    --color-content-hover: var(--colors-hover);
    --color-content-active: var(--colors-active);

    --color-text: (var(--colors-dark));

    --color-background: var(--colors-light);

    --font-size: 1rem;
    --title-size:  clamp(3rem, 3.3rem + 0.9vi, 5rem);
    --heading-size: clamp(1.125rem, 1.0417rem + 0.2778vi, 1.25rem);
    --border-radius-l: 0.8rem;
    --border-radius-s: 0.3rem;
    --border-width: 1px;
    --spacing-inset-s: 0.5rem;
    --spacing-inset-m: 1rem;
    --spacing-inset-l: 2rem;
}


fieldset {
    border: none;
    margin: var(--spacing-inset-m);
    padding: var(--spacing-inset-s);
    border-radius: var(--border-radius-l);

    display: grid;
    grid-template-columns: 1fr 1fr;
    background: var(--colors-light);
    gap: var(--spacing-inset-s);
}

fieldset legend {
    color: var(--colors-dark);
    padding: var(--spacing-inset-m);
    padding-top: 5rem;
    font-size: var(--heading-size);
}


label:has(input[type="radio"]) {
    /* display: block; */

    border-radius: var(--border-radius-s);
    padding: var(--spacing-inset-m);
    background-color: var(--color-content-default);
    color: var(--colors-white);

    align-items: center;

    /* flex-grow: 1; */
    max-width: 15rem;


    &:hover {
        background: var(--color-content-hover);
    }

    &:has(input[type="radio"]:checked) {
        background: var(--color-content-active);
    }
}







@container style(--standard-styling: true) {
    body {

        --color-rubiks-front: var(--colors-primary);
        --color-rubiks-back: #697724;
        --color-rubiks-top: var(--colors-light);
        --color-rubiks-bottom: #a5ab83;
        --color-rubiks-left: var(--colors-dark);
        --color-rubiks-right: var(--colors-secundary);

        & cube>* {
            /* border: 0.3rem solid black; */
            border-radius: 0.8rem;
        }

    }
}