* {
    background: #FFF7E5;
    color: #d52122;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

body {
    display: grid;
}


h1 {
    justify-self: center;
    text-transform: uppercase;
}